asgiref==3.2.7
cairocffi==1.2.0
CairoSVG==2.5.2
cssselect2==0.4.1
defusedxml==0.7.1
Django==3.0.4
django-crum==0.7.5
django-widget-tweaks==1.4.8
Pillow==7.1.1
html5lib==1.0.1
pycparser==2.20
Pyphen==0.10.0
pytz==2021.1
six==1.14.0
sqlparse==0.3.1
tinycss2==1.1.0
PyPDF2==1.26.0
reportlab==3.5.42
webencodings==0.5.1
xhtml2pdf==0.2.4



